* {
    --hatter: #d1d1d1;
    --h1custcolor: #000000;
    --h4custcolor: #5c5c5c;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--hatter);
}

/* Content */

#hr{
    opacity: 10%;
}

.content-top-img {
    margin: 10px auto 10px auto;
    border-radius: 30px;
}

.secondcoltext {
    padding: 5px 10px;
}

/* Footer */

.footer {
    margin: 50px auto;
}