* {
    --hatter: #d1d1d1;
    --h1custcolor: #000000;
    --h4custcolor: #5c5c5c;
}

body {
    background-color: var(--hatter);
}

/* Content */

.content-top-img {
    margin: 10px auto 10px auto;
    border-radius: 30px;
}

/* Footer */

.footer {
    margin: 50px auto;
}
